header{
    width: 100%;
    #headiv{
        display: flex;
        h1{
        font-weight: bold;
        }
        nav{
            ul{
                display: flex;
            }

        }
    }
    p{
        color: lightslategray;
    }
}