header{
    width: 99.5%;
    border: 1px black solid;
    #headiv{
        h1{
        font-weight: bold;
        }
    }
    p{
        color: lightslategray;
    }
    nav {
        max-width:40%;
        position: absolute;
        top: 0;
        right: 1%;
        display: flex;
        align-items: center;
        gap: 0.5em;

        a {
            display: inline-flex;
            img {
                max-width: 100%;
                height: auto;
            }
        }
    }
}