@import "header";
@import "nav";
@import "card";
@import "footer";
@import "grille_xs";
@import "grille_s";
@import "grille_m";
@import "grille_l";
@import "grille_xl";
%row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    box-sizing: border-box;
}

main{
    @extend %row;
}
img{
    max-width: 100%;
    height: auto;
}
